.postify {
	width: inherit;
	height: inherit;
	overflow: hidden;
	max-width: inherit;
	max-height: inherit;
	transition: .5s ease;
	margin: 0;
	padding:0;
	position: relative;
}
.postify img {
	width:100%;
	height: auto;
}
.postify-loading {
  	display: inline-block;
  	position: relative;
  	width: 64px;
  	height: 64px;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
.postify-loading div {
  	position: absolute;
  	top: 27px;
  	width: 11px;
  	height: 11px;
  	border-radius: 50%;
  	background: #444;
  	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.postify-loading div:nth-child(1) {
  	left: 6px;
  	animation: lds-ellipsis1 0.6s infinite;
}
.postify-loading div:nth-child(2) {
  	left: 6px;
  	animation: lds-ellipsis2 0.6s infinite;
}
.postify-loading div:nth-child(3) {
  	left: 26px;
  	animation: lds-ellipsis2 0.6s infinite;
}
.postify-loading div:nth-child(4) {
  	left: 45px;
  	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  	0% {
    	transform: scale(0);
  	}
  	100% {
    	transform: scale(1);
  	}
}
@keyframes lds-ellipsis3 {
  	0% {
    	transform: scale(1);
  	}
  	100% {
    	transform: scale(0);
  	}
}
@keyframes lds-ellipsis2 {
  	0% {
    	transform: translate(0, 0);
  	}
  	100% {
    	transform: translate(19px, 0);
  	}
}